In [ ]:
# No. 1

def getMaxVal (input1, input2, input3):

  if input1 > input2 and input1 > input3:
    return input1
  elif input2 > input1 and input2 > input3:
    return input2
  else:
    return input3

getMaxVal(21,1,32)

32

In [ ]:
# No. 2
def getMaxValArr (inputArr):
  total = 0
  count = 0

  for num in inputArr:
    total += num
    count += 1

  if count == 0:
    return 0

  return total / count

getMaxValArr([32,43,11,22])

27.0

In [ ]:
# No. 3
def count_even_odd(numbers):
    even_count = 0
    odd_count = 0


    for num in numbers:
        if num % 4 == 0:
            even_count += 1
        else:
            odd_count += 1

    return (even_count, odd_count)


numbers = [11, 12, 13, 14, 15, 16, 17]
print(count_even_odd(numbers))

(2, 5)

In [ ]:
# No. 4
def sort_letters(string):
    lower_case = ""
    upper_case = ""


    for char in string:
        if char.islower():
            lower_case += char
        elif char.isupper():
            upper_case += char

    return lower_case + upper_case


input_string = "TunasMandiri"
print(sort_letters(input_string))

unasandiriTM

In [ ]:
# No. 5
def hitung_kemunculan_kata(kata):
  hasil = {}

  for karakter in kata:

    if karakter in hasil:
      hasil[karakter] += 1
    else:
      hasil[karakter] = 1

  return hasil

input_kata = "Tunas Mandiri"
output = hitung_kemunculan_kata(input_kata)
print(output)

{'T': 1, 'u': 1, 'n': 2, 'a': 2, 's': 1, ' ': 1, 'M': 1, 'd': 1, 'i': 2, 'r': 1}

In [ ]:
#No.6
def show_employee(nama, gaji=2000000):
    print(f"Nama: {nama}, Gaji: {gaji}")


    return {"nama": nama, "gaji": gaji}

employee1 = show_employee("Hilda", 10000000)
print(employee1)

employee2 = show_employee("Nonie")
print(employee2)

Nama: Hilda, Gaji: 10000000
{'nama': 'Hilda', 'gaji': 10000000}
Nama: Nonie, Gaji: 2000000
{'nama': 'Nonie', 'gaji': 2000000}